* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
}

header .header-top {
  border-bottom: 1px solid #ececec;
  font-size: 13px;
  line-height: 1;
  padding: 10px 0;
  background-color: #ffffff;
}

header .header-top .left .header-info ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

header .header-top .left .header-info ul li {
  margin-right: 20px;
  position: relative;
}

header .header-top .left .header-info ul li:not(:last-child):after {
  content: '';
  position: absolute;
  right: -10px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 1px;
  height: 10px;
  background: #dedfe2;
}

header .header-top .left .header-info ul li a {
  color: #7E7E7E;
  font-weight: 400;
}

header .header-top .center marquee {
  font-size: 14px;
  line-height: 10px;
  font-weight: 600;
  color: #7E7E7E;
  padding: 4px 0;
}

header .header-top .right .header-info ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

header .header-top .right .header-info ul li {
  margin-right: 20px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #7E7E7E;
}

header .header-top .right .header-info ul li:hover .lang-div {
  display: block;
  bottom: -110px;
  height: 100px;
}

header .header-top .right .header-info ul li:hover .currency-div {
  display: block;
  bottom: -110px;
  height: 100px;
}

header .header-top .right .header-info ul li:not(:last-child):after {
  content: '';
  position: absolute;
  right: -10px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 1px;
  height: 10px;
  background: #dedfe2;
}

header .header-top .right .header-info ul li .text-phone {
  color: #3BB77E !important;
  font-weight: 600;
}

header .header-top .right .header-info ul li .language {
  color: #7E7E7E;
  font-weight: 400;
}

header .header-top .right .header-info ul li .lang-div {
  position: absolute;
  bottom: -150px;
  left: 5px;
  padding: 0 15px;
  width: 200%;
  height: 0;
  -webkit-box-shadow: 0 5px 6px 0;
          box-shadow: 0 5px 6px 0;
  -webkit-transition: bottom 0.5s;
  transition: bottom 0.5s;
  overflow: hidden;
  border-radius: 5px;
  -webkit-transform: translateY(-10%);
          transform: translateY(-10%);
  background-color: white;
}

header .header-top .right .header-info ul li .lang-div .lang-item {
  margin-top: 15px;
  margin-bottom: 20px;
  padding: 2px 0;
}

header .header-top .right .header-info ul li .lang-div .lang-item a {
  position: absolute;
  color: #7E7E7E;
  font-size: 14px;
}

header .header-top .right .header-info ul li .lang-div .lang-item a img {
  width: 25%;
  margin-right: 5px;
}

header .header-top .right .header-info ul li .currency {
  color: #7E7E7E;
  font-weight: 400;
}

header .header-top .right .header-info ul li .currency-div {
  position: absolute;
  bottom: -150px;
  left: 5px;
  padding: 0 15px;
  width: 100px;
  height: 0;
  -webkit-box-shadow: 0 5px 6px 0;
          box-shadow: 0 5px 6px 0;
  -webkit-transition: bottom 0.5s;
  transition: bottom 0.5s;
  overflow: hidden;
  border-radius: 5px;
  -webkit-transform: translateY(-10%);
          transform: translateY(-10%);
  background-color: white;
}

header .header-top .right .header-info ul li .currency-div .currency-item {
  margin-top: 15px;
  margin-bottom: 20px;
  padding: 2px 0;
}

header .header-top .right .header-info ul li .currency-div .currency-item a {
  position: absolute;
  color: #7E7E7E;
  font-size: 14px;
}

header .header-top .right .header-info ul li .currency-div .currency-item a img {
  width: 25%;
  margin-right: 5px;
}

header .header-center {
  border-bottom: 1px solid #ececec;
  padding: 30px 0;
  background-color: #ffffff;
}

header .header-center .left img {
  width: 74.5%;
}

header .header-center .center {
  border: 2px solid #BCE3C9;
  border-radius: 4px;
  max-width: 700px;
  background-color: #fff;
}

header .header-center .center .left {
  padding-left: o;
  position: relative;
}

header .header-center .center .left::before {
  content: '';
  position: absolute;
  right: 20px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 2px;
  height: 20px;
  background: #dedfe2;
}

header .header-center .center .left p {
  font-size: 14px;
  font-weight: 500;
  color: #253D4E;
  padding: 15px;
  margin-bottom: 0 !important;
  cursor: pointer;
}

header .header-center .center .left p i {
  margin-left: 10px;
  font-size: 0.7rem;
  color: #969b9e;
}

header .header-center .center .right {
  position: relative;
}

header .header-center .center .right input {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  height: 98%;
  width: 90%;
  left: 0;
  border: none;
  background-color: transparent;
  font-size: 14px;
}

header .header-center .center .right input:focus {
  outline: none;
}

header .header-center .center .right input::-webkit-input-placeholder {
  font-size: 14px;
}

header .header-center .center .right input:-ms-input-placeholder {
  font-size: 14px;
}

header .header-center .center .right input::-ms-input-placeholder {
  font-size: 14px;
}

header .header-center .center .right input::placeholder {
  font-size: 14px;
}

header .header-center .center .right img {
  position: absolute;
  top: 50%;
  right: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  cursor: pointer;
}
/*# sourceMappingURL=style.css.map */